body{

 margin: 0;
 background-image: url("images/finanzas.jpg");
 background-size: 1440px 800px;
 background-repeat:no-repeat;
 display: compact;
 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.titulo {
	
	text-align: center;
	font-size: 5em;
}

.subtitulo {
	
	text-align: center;
	font-size: 1.5em;
	line-height: 1.4;
}